% Compiler Options for rebar
{erl_opts, [
  {src_dirs, ["src", "test"]}
]}.

% Dependencies
{deps, [
  {etest, "", {git, "https://github.com/wooga/etest.git"}},
  {etest_http, "", {git, "git://github.com/wooga/etest_http.git"}},
  {jiffy, "", {git, "https://github.com/davisp/jiffy.git"}},
  {elli, "", {git, "https://github.com/elli-lib/elli.git"}},
  {eredis, "", {git, "git://github.com/wooga/eredis.git"}}
]}.